@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');

.flex-inline {
    display: flex;
    flex-direction: row;
    padding: 1%;
    justify-content: space-between
}

.center {
    display: flex;
    align-items: center;
}
.width-100 {
    width: 100%;
}

.header-gris {
    background-color: #8A8A7E;
}

.font-title {
    color: white;
    font-family: 'Gayathri', sans-serif;
}

.details-profile {
    background-color: rgba(243,199,21,0.7);
    font-size: 14px;
    color: #090700;
    text-align: center;
    padding: 1%
}

.field-profile {
    font-weight: 700;
    font-size: 16px;
    color: #7C796E
}

.width-30{
    width: 30%;
}

.width-60{
    width: 60%;
}

.color-gris {
    color: #8A8A7E;
    font-weight: 600;
}

.text-area-amarillo {
    background-color: rgba(243,199,21,0.9);
    color: white;
}

.margin-1 {
    margin-top: 1%;
}